@import url('https://fonts.googleapis.com/css?family=Bitter|Galada&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

.neutral {
  background-color: #FFFDED;
}

//navbar
.recipenavbar{
  background-color: #FFFDED;
}

.navbar-edited {
transition: 0.2s ease;
border-bottom: 2px solid transparent;
padding: 10px;
color: #241023;
font-weight: bold;
font-size: large;
// 
&:hover {
  color: #D8829D !important;
  // background-color: black !important;
}}

.nav-reg-text {
  padding-right: 0px;
}

.nav-login-text {
  padding-left: 3px;
}

.navbar-home {
  // margin-left: 25vw;
  // font-family: 'Galada';
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  text-align: center;
}

.navbar-container {
  margin: 0px !important;
}

.navbar-brand {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
  margin-left: 0px !important;
  min-width: 35vw;
  max-width: 35vw;
}

.navbar-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-right: 0px !important;
  min-width: 30vw;
  max-width: 30vw;
}

.navbar-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  // margin-left: 0px !important;
  min-width: 35vw;
  max-width: 35vw;
}

.navbar-burger {
  margin-top: 1vh;
}

@media only screen and (max-width: 1023px) {
  .navbar-brand {
    max-width: 100vw;
  }
}

//homepage 
.is-homepage-primary{
  // background-color: #C8E087;
  background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover; 
}

.feature-section {
  height: 60vh;
}

.featurerecipecolumn{
  height: 100%;
  padding-right: 40px;
}

.homepagetitle{
  // color: #628B48;
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  color: black;
  font-weight:800;
}

// .homepage-feature {
//   height: 200px;
//   margin-bottom: 30px;
// }

.homepagesubtitle{
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.featuredrecipetitle{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: black;
  margin: 15px;
  font-weight: bold;
  text-align: center;
}

.feat-subtitle {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: black;
  margin: 0px auto 15px;
  text-align: center;
}

.featured-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
}

.featrecipebox {
  // text-align: center;
  // font-size: 36px;
  // font-weight: bold;
  background-color: white !important;
  // padding: 20px;
  // border: 1px solid #628B48;
}



// .fridge-input {
//   margin: 5px 10px !important;
// }

.fridgebutton {
  background-color:  #628B48;
  color: #fff;
}

.fridgeform {
  max-width: 500px;
  display: flex;
  // justify-content: center; doesn't do anything
  
}

.fridgesection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fridgeformfield{
  text-align: center; 
  margin: 3px;
}

.homepage-section {
  background-color: #FFFDED;
}

.link-section {
  // background-color: #edd83d;
  background-color: #d8829d;
}

.footer-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  color: #FFFDED;
  // padding: 10px;
  padding-bottom: 35px;
  border-bottom: 3px solid #FFFDED;
}

.footer-columns {
  border-bottom: 3px solid #FFFDED;
}
.footer-column {
  text-align: left;
  margin: 0px 15px;
  // padding: 0px 15px;
}

.footer-heading {
  margin: 15px 0px;
  color: #FFFDED;
  font-size: 22px;
  text-align: center;
}

.footer-item {
  color: #FFFDED;
  font-size: 16px;
  margin: 0px 5px;
}

.footer-end {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.login-link {
  color: black;
}

//all recipes page 


.is-allrecipes-primary {
  background-color: #E8AAC4;
  margin-bottom: 20px;
  // background-image: url('https://img5.goodfon.com/wallpaper/nbig/7/38/cpetsii-chesnok-rozmarin-perets-dereviannyi-fon-chili.jpg');
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ),url('https://img5.goodfon.com/wallpaper/nbig/7/38/cpetsii-chesnok-rozmarin-perets-dereviannyi-fon-chili.jpg');

}
.allrecipestitle{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight:1000;
}

.recipe-subheading {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #241023;
  font-family: 'Playfair Display', serif;
  margin: 15px;
}
// shopping list feature 
.emptyshoppinglistbackground{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/grohealth/image/upload/v1583843120/DCUK/Content/Surprisingly-High-Carb-Food.png");
  background-size: cover;
}

.add {
  color: #D8829D;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  text-align: center;
  font-weight: 1000;
  // margin-top: 40vh;
  

}

.shoppinglisttitle {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight:1000;
}


.shoppinglistcontainer {
  // display: flex;
  // flex-direction: column;
  padding: 20px;
  // justify-content: center;
  // align-items: center;
  // background-color: #F3F9E3;
  background-color: #FFFDED;
}

.shoppinglistimage {
  border-radius: 10px;
}

.individualrecipecontainer{
  display: flex;
  width: 100%;
  // border: 1px purple solid;
  justify-content: space-between;
  padding: 100px;
  // margin-top: 10px;
}

.is-shoppinglist-primary {
  // background-color: #E8AAC4;
  font-weight: 800;
  background-image: url('http://s1.1zoom.net/big3/815/433469-svetik.jpg');
  background-size: cover;
}

.recipetobuyfor {
  color: #628B48;
  font-size: 29px;


}
.ingredientline {
  // color: #628B48;
  font-size: 16px;

}
.strikethrough {
  text-decoration: line-through;
}

// suggested recipe page 
.suggestedrecipetitle {
  color: #73b504;
  color: #F3F9E3;
  font-weight: 500;
}


.recipeheading {
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 30px;
  font-weight: 800
}

.is-suggested-primary {
  color: white;
  background-image: url('https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
}
.center {
  text-align: center;
}

//fivestarred recipe page 
.is-fivestarrecipe-primary{
  // background-color: #ffd800
  background-image: url('https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
}
.fivestarredrecipetitle {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 1000;
  font-size: 30px;
}



// all recipes page 
.allpagebuttons {
  margin-top: 20px;
}
.pagebutton {
  border-radius: 5px;
  font-size: 20px; 
  margin: 5px;
  margin-top: 10px;
}

.prevnextbutton {
  color: green

}

.scroll {
  overflow-y: hidden;
  overflow-x: scroll;
}


// searchbar styling

.searchbarcontainer{
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  // margin: 10px 20px;
}



.searchField, .advancedsearchbutton {
  // min-width: 80vw !important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

// this stops it being tiny
.search {
  min-width: 60vw;
}

.search-input {
  border-color: transparent !important;
}

.search-icon {
  margin: 15px;
}

.dropdown, .advanced-search, .dropdown-menu {
  min-width: 60vw !important;
  border-color: transparent !important;
  text-align: center;
  font-size: 14px;
}

// .advanced-search {
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: flex-start;
// }


.include-icon {
  border: 1px solid lightgray;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background-color: white;
  // width: 80%;
}

.asitem {
  margin: 5px 15px 5px 10px;
}

.check {
  margin: 10px;
}




// single recipe page
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.single-title {
  font-size: 50px;
  // font-family: 'Galada';
  font-family: 'Playfair Display', serif;
  padding-bottom: 15px;
  border-bottom: 3px solid lightgrey;
  text-align: center;
}

.label-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 15px 0px;
  border-bottom: 3px solid lightgrey;
}

.label-tags {
  background-color: #edd83d;
  padding: 5px 10px;
  margin: 5px 15px;
  font-family: 'Playfair Display', serif;
}

.detail-box {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-evenly;
  padding: 10px 0px;
  border-bottom: 3px solid lightgrey;
}

.vl {
  border-left: 3px solid lightgrey;
  margin: 8px 8px;
  // height: 500px;
}

.detail-item {
  margin: 10px 10px;
  width: 30%;
  text-align: center;
  // padding-top: 10px;
}

.single-image {
  margin: 10px 5vw;
  display: block;
  // max-width:230px;
  // max-height:95px;
  width: 80%;
  height: auto;
}

.ingredients-box {
  // border: 3px solid lightgrey;
  margin-top: 15px;
}

.list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px;
  font-size: 18px;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.calendar-icon {
  margin: 5px;
  // text-align: center;
}

.centered-item {
  text-align: center;
  margin: auto auto;
}

.small-heading {
  font-size: 26px;
  font-family: 'Playfair Display', serif;
  border-bottom: 3px solid lightgrey;
  padding: 0px 10px 15px;
}

.subheading {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  padding: 10px;
}

.nutri-summary-box, .full-nutri-box {
  margin: 0px 5vw;
}

.nutri-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.small-nutri-item {
  text-align: center;
  // flex-grow: 1;
  width: 18%;
  margin: 10px auto;
  padding: 10px 0px;
}

.donut-div {
  width: 28%;
}

//register page 
.registerbackground {
  background-image: url('https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/1012305/910/606/m2/fpnw/wm1/tyhlpnowodzm2wpsksuz240scqzybbtjxpulre9zs8qugxsic4zdhwfixlgupu5u-.jpg?1456015760&s=617284c32d2b0069274c392c366b9f4c');
  background-size: cover; 
}

.registerboxonright{
  margin-left: 45%
}

.marginbottomsubtitle{
  margin-bottom: 20px;
}

//login page 
.loginbackground{
  background-image: url('https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/1010197/910/606/m2/fpnw/wm1/oe3pvqzwoftophvhjphbjls75jxvs7r3ttpjioe8eklqkkjkmg5q48on2mm3qk7o-.jpg?1455930846&s=3e2e28713df801446a553dff3703ac80');
  background-size: cover; 
}

.spinner{
  margin-top: 40vh;
  text-align: center;
}

.register-here {
  margin: 20px 10px 10px;
}