@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');

//navbar
.recipenavbar{
  background-color: #FFFDED;
}

.navbar-edited {
transition: 0.2s ease;
border-bottom: 2px solid transparent;
padding: 10px;
color: #241023;
font-weight: bold;
font-size: large;
// 
&:hover {
  color: #D8829D !important;
}
}

.nav-reg-text {
  padding-right: 0px;
}

.nav-login-text {
  padding-left: 3px;
}

.navbar-home {
  margin-left: 20vw;
  font-family: 'Galada';
  font-size: 42px;
}

// shopping list feature 

.shoppinglisttitle {
  color: #628B48;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}

.shoppinglistcontainer {
  // display: flex;
  // flex-direction: column;
  padding: 20px;
  // justify-content: center;
  // align-items: center;
  background-color: #F3F9E3;

}

.shoppinglistimage {
  border-radius: 10px;
}

.individualrecipecontainer{
  display: flex;
  width: 100%;
  // border: 1px purple solid;
  justify-content: space-between;
  padding: 20px;
  // margin-top: 10px;
}

.is-shoppinglist-primary {
  background-color: #E8AAC4;
  font-weight: 800;
}

.recipetobuyfor {
  color: #628B48;
  font-size: 29px;


}
.ingredientline {
  // color: #628B48;
  font-size: 16px;

}
.strikethrough {
  text-decoration: line-through;
}

// suggested recipe page 
.suggestedrecipetitle {
  color: #73b504;
  color: #F3F9E3;
  font-weight: 500;
}

.recipeheading {
  font-family: 'Playfair Display', serif;
  color: #628B48;
  font-size: 30px;
}
.recipesubheading {
  font-family: 'Playfair Display', serif;
  color: #628B48;
  font-size: 20px;
}
.is-recipe-primary {
  // background-color: #44B242;
  background-color: #F3F9E3;
  color: white;
  // background-image: url('https://i.pinimg.com/originals/db/82/81/db82812eecaea9306e889e262514e7fc.jpg');

}
.center {
  text-align: center;
}

//fivestarred recipe page 
.is-fivestarrecipe-primary{
  background-color: #ffd800
}
.fivestarredrecipetitle {
  font-family: 'Playfair Display', serif;
  color: #628B48;
  font-size: 30px;
}



// all recipes page 
.allpagebuttons {
  margin-top: 20px;
}
.pagebutton {
  border-radius: 5px;
  font-size: 20px; 
  margin: 5px;
  margin-top: 10px;
}

.prevnextbutton {
  color: green

}.scroll {
  overflow-y: hidden;
  overflow-x: scroll;
}

.searchField {
  display: flex;
  flex-flow: row nowrap;
  // justify-content: center;
}

.search {
  min-width: 80vw;
}

.dropdown, .advanced-search, .dropdown-menu {
  min-width: 90vw !important;
}

.asitem {
  margin: 5px 25px 5px 10px;
}

.check {
  margin: 10px;
}